services:
   backend:
      build: ./backend
      container_name: backend
      ports:
         - "3000:3000"
      volumes:
         - ./backend/src:/app/src
         - /app/node_modules
      command: ["npm", "run", "dev"]

   fronted:
     build: ./frontend
     container_name: frontend
     ports:
        - "5173:5173"
     volumes:
        - ./frontend:/app
        - /app/node_modules
     command: ["npm", "run", "dev", "--", "--host"]
